<!DOCTYPE html>

<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<title>Maverick| Reliable and Profitable Investment in Binary Options, Forex, Indices, CFD's</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="Maverick is a true opportunity to earn on cryptocurrency/binary. Maverick is a company formed by a team of PROFESSIONAL TRADERS with EXPERTISE in one of the biggest financial markets of today, the CRYPTOCURRENCY/BINARY. Our focus is to provide our affiliates with daily and constant profits in these markets.">
	<meta name="author" content="Trade Genesis">
	<link rel="icon" href="image/favicon.png" sizes="32x32" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="alert/css/animate.min.css">
	<link rel="stylesheet" href="alert/css/fake-notification-min.css">
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.html">
	<link rel="stylesheet" type="text/css" href="slick/slick.html">
	<style type="text/css">
		.logo{
			height: 50px;
			float: left;
		}
		.__tL{
			padding: 0px 10px;
			border-radius: 5px;
			background: #f58634;
			float: right;
			height: 35px;
			font-size: 14px;
			font-weight: 700;
			line-height: 35px;
			text-decoration: none;
			color: #FFF;
			margin-left: 3px;
		}
		.__tL:hover{
			text-decoration: none;
		}
	</style>
<style type="text/css">div.eapps-widget{position:relative}div.eapps-widget.eapps-widget-show-toolbar:before{position:absolute;content:"";display:block;bottom:0;top:0;left:0;right:0;pointer-events:none;border:1px solid transparent;transition:border .3s ease;z-index:1}.eapps-widget-toolbar{position:absolute;top:-32px;left:0;right:0;display:block;z-index:99999;padding-bottom:4px;transition:all .3s ease;pointer-events:none;opacity:0}.eapps-widget:hover .eapps-widget-toolbar{opacity:1;pointer-events:auto}.eapps-widget-toolbar a{text-decoration:none;box-shadow:none!important}.eapps-widget-toolbar-panel{border-radius:6px;background-color:#222;color:#fff;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center;top:0;position:relative;transition:all .3s ease;opacity:0;overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-shadow:0 0 0 1px hsla(0,0%,100%,.2);height:28px}.eapps-widget:hover .eapps-widget-toolbar-panel{opacity:1}.eapps-widget-toolbar-panel-wrapper{width:100%;position:relative}.eapps-widget-toolbar-panel-only-you{position:absolute;top:-24px;font-size:11px;line-height:14px;color:#9c9c9c;padding:5px 4px}.eapps-widget-toolbar-panel-logo{width:28px;height:28px;border-right:1px solid hsla(0,0%,100%,.2);display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center}.eapps-widget-toolbar-panel-logo svg{display:block;width:15px;height:15px;fill:#f93262}.eapps-widget-toolbar-panel-edit{font-size:12px;font-weight:400;line-height:14px;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center;padding:9px;border-right:1px solid hsla(0,0%,100%,.2);color:#fff;text-decoration:none}.eapps-widget-toolbar-panel-edit-icon{width:14px;height:14px;margin-right:8px}.eapps-widget-toolbar-panel-edit-icon svg{display:block;width:100%;height:100%;fill:#fff}.eapps-widget-toolbar-panel-views{display:-ms-inline-flexbox;display:inline-flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.eapps-widget-toolbar-panel-views-label{font-size:12px;font-weight:400;line-height:14px;margin-left:8px}.eapps-widget-toolbar-panel-views-bar{display:-ms-inline-flexbox;display:inline-flex;width:70px;height:3px;border-radius:2px;margin-left:8px;background-color:hsla(0,0%,100%,.3)}.eapps-widget-toolbar-panel-views-bar-inner{border-radius:2px;background-color:#4ad504}.eapps-widget-toolbar-panel-views-green .eapps-widget-toolbar-panel-views-bar-inner{background-color:#4ad504}.eapps-widget-toolbar-panel-views-red .eapps-widget-toolbar-panel-views-bar-inner{background-color:#ff4734}.eapps-widget-toolbar-panel-views-orange .eapps-widget-toolbar-panel-views-bar-inner{background-color:#ffb400}.eapps-widget-toolbar-panel-views-percent{display:-ms-inline-flexbox;display:inline-flex;margin-left:8px;margin-right:8px;font-size:12px;font-weight:400;line-height:14px}.eapps-widget-toolbar-panel-views-get-more{padding:9px 16px;background-color:#f93262;color:#fff;font-size:12px;font-weight:400;border-radius:0 6px 6px 0}.eapps-widget-toolbar-panel-share{position:absolute;top:0;display:inline-block;margin-left:8px;width:83px;height:28px;padding-bottom:4px;box-sizing:content-box!important}.eapps-widget-toolbar-panel-share:hover .eapps-widget-toolbar-panel-share-block{opacity:1;pointer-events:all}.eapps-widget-toolbar-panel-share-button{padding:0 18px;height:28px;background-color:#1c91ff;color:#fff;font-size:12px;font-weight:400;border-radius:6px;position:absolute;top:0;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;cursor:default;-ms-flex-align:center;align-items:center}.eapps-widget-toolbar-panel-share-button svg{display:inline-block;margin-right:6px;fill:#fff;position:relative;top:-1px}.eapps-widget-toolbar-panel-share-block{position:absolute;background:#fff;border:1px solid hsla(0,0%,7%,.1);border-radius:10px;width:209px;top:32px;transform:translateX(-63px);opacity:0;pointer-events:none;transition:all .3s ease;box-shadow:0 4px 6px rgba(0,0,0,.05)}.eapps-widget-toolbar-panel-share-block:hover{opacity:1;pointer-events:all}.eapps-widget-toolbar-panel-share-block-text{color:#111;font-size:15px;font-weight:400;padding:12px 0;text-align:center}.eapps-widget-toolbar-panel-share-block-text-icon{padding-bottom:4px}.eapps-widget-toolbar-panel-share-block-actions{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;border-top:1px solid hsla(0,0%,7%,.1)}.eapps-widget-toolbar-panel-share-block-actions-item{width:33.333333%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;height:39px;transition:all .3s ease;background-color:transparent}.eapps-widget-toolbar-panel-share-block-actions-item:hover{background-color:#fafafa}.eapps-widget-toolbar-panel-share-block-actions-item a{width:100%;height:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.eapps-widget-toolbar-panel-share-block-actions-item-icon{width:16px;height:16px;display:block}.eapps-widget-toolbar-panel-share-block-actions-item-facebook .eapps-widget-toolbar-panel-share-block-actions-item-icon{fill:#3c5a9b}.eapps-widget-toolbar-panel-share-block-actions-item-twitter .eapps-widget-toolbar-panel-share-block-actions-item-icon{fill:#1ab2e8}.eapps-widget-toolbar-panel-share-block-actions-item-google .eapps-widget-toolbar-panel-share-block-actions-item-icon{fill:#dd4b39}.eapps-widget-toolbar-panel-share-block-actions-item:not(:last-child){border-right:1px solid hsla(0,0%,7%,.1)}</style><link href="https://core.service.elfsight.com" rel="preconnect" crossorigin=""><link href="https://static.elfsight.com" rel="preconnect" crossorigin=""><link href="https://service-reviews-ultimate.elfsight.com" rel="preconnect" crossorigin=""><link href="https://storage.elfsight.com" rel="preconnect" crossorigin=""><script src="https://static.elfsight.com/apps/telegram-chat/stable/80a0c2f1f8b58085526c41b108276da4212b2ee2/app/telegramChat.js" defer="defer" charset="UTF-8"></script></head>
<body>
    <div id="notification-1" class="notification animated slideInUp" style="top: 30%; left: 10px; border-radius: 5px; border-width: 1px; border-color: rgb(255, 197, 82); background: rgb(0, 0, 0); display: block;">			
		<div class="notification-block">
			<div class="notification-img" style="color: rgb(255, 255, 255);">
				<!-- Your image or icon -->
				<i class="fa fa-btc" aria-hidden="true"></i>
				<!-- / Your image or icon -->
			</div>
			<div class="notification-text-block" style="color: white;">
				<div class="notification-title">
					<!-- Notification Title -->
					Earning
					<!-- / Notification Title -->
				</div>
				<div class="notification-text">Jackson from PEUTO RICO has just Earned <b>$2025</b>.</div>
			</div>
		</div>
	</div>
	<div style="background: #003300;">
		<div class="_in_content_" style="padding: 20px 15px;">
			<a href="/">
				<img class="logo hidden-xs" src="trade.jpeg">
				<img class="logo visible-xs" src="trade.jpeg" style="height: 35px;">
			</a>
			<a class="__tL" href="/register">SIGN UP</a>
			<a class="__tL" href="/login">LOGIN</a>				
		</div>
	</div>

	<!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container" style="background: rgb(0, 0, 0); height: auto;">
             <iframe src="http://www.exchangerates.org.uk/widget/ER-LRTICKER.php?w=2048&amp;s=1&amp;mc=GBP&amp;mbg=F0F0F0&amp;bs=yes&amp;bc=000044&amp;f=verdana&amp;fs=10px&amp;fc=000044&amp;lc=000044&amp;lhc=FE9A00&amp;vc=FE9A00&amp;vcu=008000&amp;vcd=FF0000&amp;" width="2048" height="30" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"></iframe>
    </div>
    <!-- TradingView Widget END -->
 
	<div class="main_header__">
		<div style="position: absolute; top: 0; left: 0; width: 100%; z-index: -1; height: 100%;" id="particles-js"><canvas class="particles-js-canvas-el" width="1290" height="1731" style="width: 100%; height: 100%;"></canvas></div>
		<div class="_in_content_" style="margin-top: 20px;">
			<div class="_l_div_m">
				<h2 class="l_text">MAVERICK TD<br>TRADE WITH<br>FINANCIAL THINKING</h2>
					<center>
	               		<div class="cnt_icon_num">
		                    <i class="icon-traders-online"></i>
		                    <div class="value">603+</div>
		                    <p>Traders<br>Online</p>
		                </div>
		                <div class="cnt_icon_num">
		                    <i class="icon-total-registred"></i>
		                    <div class="value">156,789+</div>
		                    <p>Total<br>Registered </p>
		                </div>
		                <div class="cnt_icon_num">
		                    <i class="icon-best-today"></i>
		                    <div class="value">888,909+</div>
		                    <p>Deals<br>Today</p>
		                </div>
	               </center>
			</div>
			<img class="r_img" src="image/pc_main.png">
		</div>

	</div>

	<h2 class="_seg____header__">HOW Trade MAVERICK TD?</h2>

	<div class="_in_content_">

		<center>
			
			<div class="_seg____ b_none_">
				<center>
					<img class="_seg___img" src="image/deposit.png">
					<h1 class="_seg____htxt_" style="text-align: center;">DEPOSIT</h1>
					<div>Send bitcoins to the personal trading wallet, which generated by the platform</div>
				</center>
			</div>

			<div class="_seg____ b_none_">
				<center>
					<img class="_seg___img" src="image/profit.png">
					<h1 class="_seg____htxt_" style="text-align: center;">GET PROFIT</h1>
					<div>Earn huge return on investment. With our professional team of traders, you are guaranteed of your earnings</div>
				</center>
			</div>

			<div class="_seg____ b_none_">
				<center>
					<img class="_seg___img" src="image/withdraw.png">
					<h1 class="_seg____htxt_" style="text-align: center;">WITHDRAW</h1>
					<div>Our withdrawals are all processed instantly after they are requested. We provide multiple withdrawal methods</div>
				</center>
			</div>
			
			<div class="_seg____ b_none_">
				<center>
					<iframe width="100%" height="280" src="https://www.youtube.com/embed/Um63OQz3bjo?autoplay=1&amp;mute=1" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
				</center>
			</div>

		</center>

	</div>

	<h2 class="_seg____header__" style="margin-top: 50px;">GET UPDATED WITH CRYPTOs</h2>

	<center>

		<!-- TradingView Widget BEGIN -->
	<iframe src="https://widget.coinlib.io/widget?type=chart&amp;theme=light&amp;coin_id=859&amp;pref_coin_id=1505" width="100%" height="536px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;"></iframe>
	
		<!-- TradingView Widget END -->
	</center>

	<div style="background: url(image/slide_2.jpg); width: 100%; display: block; overflow: hidden; float: left; padding-bottom: 50px; margin: 40px auto; background-repeat: no-repeat; background-position: center; background-size: cover;" class="___flow___">

		<h2 class="_seg____header__" style="margin-top: 50px;">OUR AWARD PLATFORM</h2>

		<div class="_in_content_">

			<center>
			
				<div class="_seg____ a_seg____ b_none_" style="float: left;">
					<img class="_seg___img a_simg_" src="image/award_13.png">
					<div class="_side___ _b_side___">
						<h1 class="_seg____htxt_" style="color: #FFF;">Century International Quality Gold ERA Award</h1>
						<div class="_txt___" style="font-size: 17px;">The prestigious award was given to MAVERICK TD in recognition of our outstanding commitment to Quality and Excellence, particularly in the realm of Customer Satisfaction.</div>
					</div>
				</div>
			
				<div class="_seg____ a_seg____ b_none_" style="float: left;">
					<img class="_seg___img a_simg_" src="image/award_10.png">
					<div class="_side___ _b_side___">
						<h1 class="_seg____htxt_" style="color: #FFF;">Most innovative binary option platform</h1>
						<div class="_txt___" style="font-size: 17px;">As Steve Jobs once said, innovation distinguishes between leaders and followers. Our innovative approach makes our product shine—and the evidence is in this beautiful accolade.</div>
					</div>
				</div>
			
			
				<div class="_seg____ a_seg____ b_none_" style="float: left;">
					<img class="_seg___img a_simg_" src="image/award_5.png">
					<div class="_side___ _b_side___">
						<h1 class="_seg____htxt_" style="color: #FFF;">Most Reliable Binary Options Broker</h1>
						<div class="_txt___" style="font-size: 17px;">Our first priority is the security of our clients' funds. This was recognized by the experts at MasterForex-V, who awarded MAVERICK TD the title of Most Trusted Binary Options Broker.</div>
					</div>
				</div>
			
				<div class="_seg____ a_seg____ b_none_" style="float: left;">
					<img class="_seg___img a_simg_" src="image/award_14.png">
					<div class="_side___ _b_side___">
						<h1 class="_seg____htxt_" style="color: #FFF;">The intelligent trading app for binary options</h1>
						<div class="_txt___" style="font-size: 17px;">The Mobile Star Awards is the largest annual mobile innovations and software awards program in the world. In 2016, the organization honored the Trade Genesis trading app as the best in its category, praising its efficiency and impeccable design.</div>
					</div>
				</div>
			
				<div class="_seg____ a_seg____ b_none_" style="float: left;">
					<img class="_seg___img a_simg_" src="image/award_6.png">
					<div class="_side___ _b_side___">
						<h1 class="_seg____htxt_" style="color: #FFF;">World's Leading Binary Options Broker</h1>
						<div class="_txt___" style="font-size: 17px;">At the same MasterForex-V MAVERICK TD was awarded for being the World's Leading Binary Options Broker. The perfection in our service and product was recognized by the experts of the conference in 2014.</div>
					</div>
				</div>
			
				<div class="_seg____ a_seg____ b_none_" style="float: left;">
					<img class="_seg___img a_simg_" src="image/award_8.png">
					<div class="_side___ _b_side___">
						<h1 class="_seg____htxt_" style="color: #FFF;">Fastest growing binary option brand</h1>
						<div class="_txt___" style="font-size: 17px;">Global Brands Magazine, Britain’s reputable brand observer, awarded MAVERICK TD along with a number of outstanding European brands — an achievement worth working for.</div>
					</div>
				</div>

			</center>

		</div>
		
	</div>

	<h2 class="_seg____header__" style="margin-top: 50px;">OUR PLATFORM ADVANTAGES</h2>

	<div class="_in_content_">

		<center>
			
			<div class="_seg____ b_none_">
				<img class="_seg___img _simg_" src="image/payment.png">
				<div class="_side___">
					<h1 class="_seg____htxt_">Payment Options</h1>
					<div class="_txt___">We provide various withdrawal methods.</div>
				</div>
			</div>

			<div class="_seg____ b_none_">
				<img class="_seg___img _simg_" src="image/security.png">
				<div class="_side___">
					<h1 class="_seg____htxt_">Strong Security</h1>
					<div class="_txt___">With advanced security systems, we keep your account always protected.</div>
				</div>
			</div>

			<div class="_seg____ b_none_">
				<img class="_seg___img _simg_" src="image/world.png">
				<div class="_side___">
					<h1 class="_seg____htxt_">World Coverage</h1>
					<div class="_txt___">Our platform is used by bitcoin investors worldwide.</div>
				</div>
			</div>

			<div class="_seg____ b_none_">
				<img class="_seg___img _simg_" src="image/team.png">
				<div class="_side___">
					<h1 class="_seg____htxt_">Experienced Team</h1>
					<div class="_txt___">Our experienced team helps us build the best product and deliver first class service to our clients.</div>
				</div>
			</div>

			<div class="_seg____ b_none_">
				<img class="_seg___img _simg_" src="image/report.png">
				<div class="_side___">
					<h1 class="_seg____htxt_">Advanced Reporting</h1>
					<div class="_txt___">We provide reports for all investments done using our platform.</div>
				</div>
			</div>

			<div class="_seg____ b_none_">
				<img class="_seg___img _simg_" src="image/platform.png">
				<div class="_side___">
					<h1 class="_seg____htxt_">Cross-Platform Trading</h1>
					<div class="_txt___">Our platform can be accessed from various devices such as Phones, Tablets &amp; Pc.</div>
				</div>
			</div>

			<div class="_seg____ b_none_">
				<img class="_seg___img _simg_" src="image/support.png">
				<div class="_side___">
					<h1 class="_seg____htxt_">Of Btc Extral Suport</h1>
					<div class="_txt___">Our 24/7 support allows us to keep in touch with customers in all time zones and regions.</div>
				</div>
			</div>

			<div class="_seg____ b_none_">
				<img class="_seg___img _simg_" src="image/exchange.png">
				<div class="_side___">
					<h1 class="_seg____htxt_">Instant Exchange</h1>
					<div class="_txt___">Change your world today and make yourself a great tomorrow, invest with the little money you have and make a great profit at the end.</div>
				</div>
			</div>

		</center>

		<!-- TradingView Widget BEGIN -->
		<div class="tradingview-widget-container" style="width: 100%; height: auto;">
		  <iframe scrolling="no" allowtransparency="true" frameborder="0" src="http://tradegenesis.org/embed-widget/tickers/?locale=en#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22OANDA%3ASPX500USD%22%7D%2C%7B%22title%22%3A%22Nasdaq%20100%22%2C%22proName%22%3A%22OANDA%3ANAS100USD%22%7D%2C%7B%22title%22%3A%22EUR%2FUSD%22%2C%22proName%22%3A%22FX_IDC%3AEURUSD%22%7D%2C%7B%22title%22%3A%22BTC%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22ETH%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3AETHUSD%22%7D%5D%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22width%22%3A%22100%25%22%2C%22height%22%3A104%2C%22utm_source%22%3A%22tradegenesis.org%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22tickers%22%7D" style="box-sizing: border-box; height: calc(72px); width: 100%;"></iframe>
		  
		  
		<style>
	.tradingview-widget-copyright {
		font-size: 13px !important;
		line-height: 32px !important;
		text-align: center !important;
		vertical-align: middle !important;
		font-family: 'Trebuchet MS', Arial, sans-serif !important;
		color: #9db2bd !important;
	}

	.tradingview-widget-copyright .blue-text {
		color: #2196f3 !important;
	}

	.tradingview-widget-copyright a {
		text-decoration: none !important;
		color: #9db2bd !important;
	}

	.tradingview-widget-copyright a:visited {
		color: #9db2bd !important;
	}

	.tradingview-widget-copyright a:hover .blue-text {
		color: #38acdb !important;
	}

	.tradingview-widget-copyright a:active .blue-text {
		color: #299dcd !important;
	}

	.tradingview-widget-copyright a:visited .blue-text {
		color: #2196f3 !important;
	}
	</style></div>
		<!-- TradingView Widget END -->
	</div>

	<h2 class="_seg____header__" style="margin-top: 50px;">WHAT INVESTORS SAY</h2>

	<div class="_in_content_">
		<style type="text/css">
	body {
		font-family: "Open Sans", sans-serif;
	}
	.carousel {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 50px;
	}
	.carousel .item {
		color: #999;
		font-size: 14px;
	    text-align: center;
		overflow: hidden;
	    min-height: 340px;
	}
	.carousel .item a {
		color: #eb7245;
	}
	.carousel .img-box {
		width: 145px;
		height: 145px;
		margin: 0 auto;
		border-radius: 50%;
	}
	.carousel .img-box img {
		width: 100%;
		height: 100%;
		display: block;
		border-radius: 50%;
	}
	.carousel .testimonial {	
		padding: 30px 0 10px;
		color: #FFF !important;
	}
	.carousel .overview {	
		text-align: center;
		padding-bottom: 5px;
	}
	.carousel .overview b {
		color: #FFF;
		font-size: 15px;
		text-transform: uppercase;
		display: block;	
		padding-bottom: 5px;
	}
	.carousel .star-rating i {
		font-size: 18px;
		color: #ffdc12;
	}
	.carousel .carousel-control {
		width: 30px;
		height: 30px;
		border-radius: 50%;
	    background: #999;
	    text-shadow: none;
		top: 4px;
	}
	.carousel-control i {
		font-size: 20px;
		margin-right: 2px;
	}
	.carousel-control.left {
		left: auto;
		right: 40px;
	}
	.carousel-control.right i {
		margin-right: -2px;
	}
	.carousel .carousel-indicators {
		bottom: 15px;
	}
	.carousel-indicators li, .carousel-indicators li.active {
		width: 11px;
		height: 11px;
		margin: 1px 5px;
		border-radius: 50%;
	}
	.carousel-indicators li {	
		background: #e2e2e2;
		border-color: transparent;
	}
	.carousel-indicators li.active {
		border: none;
		background: #888;		
	}
	</style>
		    <div id="myCarousel" style="overflow: hidden;" class="testimonial-carousel carousel slide" data-ride="carousel">
	        <!-- Carousel indicators -->
	        <ol class="carousel-indicators">
	            	            	                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	            	                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
	            	                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
	            	                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
	            	        </ol>   
	        <!-- Wrapper for carousel items -->
	        <div class="carousel-inner"> 
	              
	                 
	                <div class="item carousel-item active">
	                    <div class="img-box"><img src="uploads/testimonies/thumb/6a13ca5cb7536acada3f32ee1d5783de.jpg" alt=""></div>
	                    <p class="testimonial">Just a quick thanks for your website!! You are a worthwhile mentor. I think there are thousands who truly appreciate what you are doing!</p>
	                    <p class="overview"><b>Patricia Feghhi-Levine</b></p>
	                    <div class="star-rating">
	                        <ul class="list-inline">
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                        </ul>
	                    </div>
	                </div>
	                	                 
	                <div class="item carousel-item ">
	                    <div class="img-box"><img src="uploads/testimonies/thumb/b9f89f516a2fe649a582c2a79c68b54e.jpg" alt=""></div>
	                    <p class="testimonial">You all are the best, and am looking forward to trade with this platform all again</p>
	                    <p class="overview"><b>Paula Wilson</b></p>
	                    <div class="star-rating">
	                        <ul class="list-inline">
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                        </ul>
	                    </div>
	                </div>
	                	                 
	                <div class="item carousel-item ">
	                    <div class="img-box"><img src="uploads/testimonies/thumb/19af53a5d473d38fc7e3ba02a454c9cd.jpg" alt=""></div>
	                    <p class="testimonial">Truly the corona outbreak have really affected me a lot financially, but because of the help of MAVERICK TD in through this forex investment Am still financially stable</p>
	                    <p class="overview"><b>Veronica Fong Wah</b></p>
	                    <div class="star-rating">
	                        <ul class="list-inline">
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                        </ul>
	                    </div>
	                </div>
	                	                 
	                <div class="item carousel-item ">
	                    <div class="img-box"><img src="uploads/testimonies/thumb/695422e86b616744398d4fbd669246f8.jpg" alt=""></div>
	                    <p class="testimonial">I have become debts free since I started my trade with Maverick and I have earn over $10,070 and more still coming all thank this legit trading platform i have made so much profits I made a withdraw of $23,400 I'm so much excited at this moment.</p>
	                    <p class="overview"><b>Marlon Manuel</b></p>
	                    <div class="star-rating">
	                        <ul class="list-inline">
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
	                        </ul>
	                    </div>
	                </div>
	                	              	                 
	        </div>
	        <!-- Carousel controls -->
	        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
	            <i class="fa fa-angle-left"></i>
	        </a>
	        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
	            <i class="fa fa-angle-right"></i>
	        </a>
	    </div> 
	              		                            	
	</div>

	<div style="background: url(image/footer-bg.png); width: 100%; display: block; overflow: hidden; float: left; margin: 0px auto 0px auto;" class="___flow___">

		<div class="_in_content_" style="margin-top: 30px; margin-bottom: 30px;">

			<div class="foot_side___">
				<h1 class="_seg____htxt_" style="color: #FFF;">Most innovative binary option platform</h1>
				<div class="_txt___" style="font-size: inherit; color: grey;">Maverick is a true opportunity to earn on cryptocurrency/binary. Maverick is a company formed by a team of PROFESSIONAL TRADERS with EXPERTISE in one of the biggest financial markets of today, the CRYPTOCURRENCY/BINARY. Our focus is to provide our affiliates with daily and constant profits in these markets.</div>
			</div>

			<div class="foot_side___">
				<h1 class="_seg____htxt_" style="color: #FFF;">Quick Links</h1>
				<a class="_txt___ _fLink" href="/" style="font-size: inherit; color: #ff7913;">Home</a>
				<a class="_txt___ _fLink" href="/login" style="font-size: inherit; color: #ff7913;">Login</a>
				<a class="_txt___ _fLink" href="/register" style="font-size: inherit; color: #ff7913;">Register</a>
			
			</div>

			<div class="foot_side___">
				<h1 class="_seg____htxt_" style="color: #FFF;">Risk Warning</h1>
				<div class="_txt___" style="font-size: inherit; color: grey;">Maverick is one of the leading platforms in the United States offering binary options, Forex and spreads. Regulated by the CFTC and based in New York. It is also regulated by the IFSC of Belize, as well as the Cyprus Securities and Exchange Commission.</div>
			</div>
			
			<div class="foot_side___">
				<h1 class="_seg____htxt_" style="color: #FFF;">Contact Us</h1>
				<p class="_txt___ _cLink">Address: <span style="font-size: inherit; color: #ff7913; text-transform: lowercase;">Manchester M14 5TD 6 Wilmslow Road, Rusholme</span></p>
				<p class="_txt___ _cLink">Email: <a href="mailto::info@maverickltd.live" style="font-size: inherit; color: #ff7913; text-transform: lowercase;">support <br>@main</a></p>

<p class="_txt___ _cLink">Phone: <a href="mailto::+40759462805" style="font-size: inherit; color: #ff7913; text-transform: lowercase;">+40759462805</a></p>
							
			</div>
		</div>

	</div>



	<div style="background: #232733; width: 100%; display: block; overflow: hidden; float: left; padding: 20px; margin: 0px; background-position: center;">

		<div class="_in_content_">

			<center>
				<span style="margin-bottom: 20px; font-size: 13px; width: 100%; display: block; max-width: 500px; color: grey;">
					You are granted limited non-exclusive non-transferable rights to use the IP provided on this website for personal and non-commercial purposes in relation to the services offered on the Website only.
				</span>
				<span style="color: #FFF;">mavericktd, © 2008 - 2023</span>
			</center>

		</div>

	</div>

	<!-- scripts -->
	<script src="particles.js-master/particles.js"></script>
	<script src="particles.js-master/demo/js/app.js"></script>
  
	<script>
	  var count_particles, stats, update;
	  stats = new Stats;
	  stats.setMode(0);
	  stats.domElement.style.position = 'absolute';
	  stats.domElement.style.left = '0px';
	  stats.domElement.style.top = '0px';
	  document.body.appendChild(stats.domElement);
	  count_particles = document.querySelector('.js-count-particles');
	  update = function() {
	    stats.begin();
	    stats.end();
	    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
	      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
	    }
	    requestAnimationFrame(update);
	  };
	  requestAnimationFrame(update);
	</script>
    <script>
		$(document).ready(function() {
            $('#notification-1').Notification({
                // Notification varibles
                Varible1: ["Dirk", "Johnny", "Watkin ", "Alejandro",  "Vina",  "Tony",   "Ahmed","Jackson",  "Noah", "Aiden",  "Darren", "Isabella", "Aria", "John", "Greyson", "Peter", "Mohammed", "William",
                "Lucas", "Amelia", "Mason", "Mathew", "Richard", "Chris", "Mia", "Oliver"],
                Varible2: ["USA","UAE","ITALY", "FLORIDA",  "MEXICO",  "INDIA",  "CHINA",  "CAMBODIA",  "UNITED KINGDOM",  "GERMANY", "AUSTRALIA",  "BANGLADESH", "SWEDEN", "PAKISTAN", "MALDIVES", "SEYCHELLES", 
                "BOLIVIA",
                 "SOUTH AFRICA", "ZAMBIA", "ZIMBABWE", "LEBANESE", "SAUDI ARABIA", "CHILE", "PEUTO RICO"],
                
                Amount: [1000,2500,5550,6660,4440,3330,6767],                    
                Content: '[Varible1] from [Varible2] has just Earned <b>$[Amount]</b>.',
                // Timer
                Show: ['stable', 5, 10],
                Close: 5,
                Time: [0, 23],
                // Notification style 
                LocationTop: [true, '30%'],
                LocationBottom:[false, '10%'],
                LocationRight: [false, '10%'],                      
                LocationLeft:[true, '10px'],
                Background: '#000000',
                BorderRadius: 5,
                BorderWidth: 1,
                BorderColor: '#ffc552',
                TextColor: 'white',
                IconColor: '#ffffff',
                // Notification Animated   
                AnimationEffectOpen: 'slideInUp',
                AnimationEffectClose: 'slideOutDown',
                // Number of notifications
                Number: 40,
                // Notification link
                Link: [false, 'index-3.html', '_blank']
                
            });         
        }); 				
	</script>
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "18542535087", // WhatsApp number
            call_to_action: "Message us", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
	
	<script type="text/javascript" src="js/j.js"></script>

<script src="../static.elfsight.com/platform/platform.js" data-use-service-core="" defer=""></script>

<!-- <script src="//code.jivosite.com/widget/pCOBZC6xF3" async></script> -->












</body></html>
