<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login | BTC Profits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="image/favicon.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <!-- <link rel="stylesheet" href="assets/css/default-css.css"> -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script async src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-bg">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="POST" action="/login">             
                    <div class="login-form-head">
                        <h4>Login</h4>
                        <p><i class="ti-arrow-right"></i>Login and Trade with Easy Payout Trade</p>
                                            </div>
                                            										<p class="text-danger" style="text-align: center; font-weight:700; text-transform:uppercase;"></p>
                                       <div class="login-form-body">
                        <div class="form-gp">
                            <label for="email">Email address</label>
                            <input name="email" type="email" id="email" required/>
                            <i class="ti-email"></i>
                            <span class="email error"></span>
                        </div>
                        <div class="form-gp">
                            <label for="password">Password</label>
                            <input name="password" type="password" id="password" required>
                            <i class="ti-lock"></i>
                            <span class="password error"></span>
                        </div>
                        <div class="row mb-4 rmber-area">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" style="background: orange; font-size: 15px; color: #FFF;" name="submit">Login<i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            
                            <p class="text-muted">Don't have an account? <a href="/register">Sign up</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const form = document.querySelector('form');
         const emailError = document.querySelector('.email.error');
         const passwordError = document.querySelector('.password.error');
         form.addEventListener('submit', async (e) => {
           e.preventDefault();
           // reset errors
           emailError.textContent = '';
           passwordError.textContent = '';
           // get values
           const email = form.email.value;
           const password = form.password.value;
           try {
             const res = await fetch('/login', { 
               method: 'POST', 
               body: JSON.stringify({ email, password }),
               headers: {'Content-Type': 'application/json'}
             });
             const data = await res.json();
             // console.log(data);
             if (data.errors) {
               emailError.textContent = data.errors.email;
               passwordError.textContent = data.errors.password;
             }
             if (data.user) {
               location.assign('/dashboard');
             }
           }
           catch (err) {
             console.log(err);
           }
         });
       
       
         
       </script>
    
    <!-- login area end -->

    <!-- jquery latest version -->
    <!-- <script src="assets/js/vendor/jquery-2.2.4.min.js"></script> -->
    <!-- bootstrap 4 js -->
    <!-- <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script> -->
    
    <!-- others plugins -->
    <!-- <script src="assets/js/plugins.js"></script>
    <script src="assets/js/scripts.js"></script> -->
    <!--Start of Tawk.to Script-->
   
   <!-- <script src="//code.jivosite.com/widget/KeBCABelKp" async></script> -->

    
    
 
</body>



</html>