<html lang="en"><head><meta http-equiv="content-type" content="text/html;charset=UTF-8"><!-- /Added by HTTrack -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Trade Genesis - Register New Account</title>
      <link rel="stylesheet" type="text/css" href="css-login/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css-login/fontawesome-all.min.css">
      <link rel="stylesheet" type="text/css" href="css-login/iofrm-style.css">
      <link rel="stylesheet" type="text/css" href="css-login/iofrm-theme9.css">
    <link rel="stylesheet" href="css-login/style.css">
    <link rel="apple-touch-icon" href="images/Srvbtc_logo.html">
      <link rel="shortcut icon" type="image/x-icon" href="images/Srvbtc_logo.html">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-8V2HDFTVHP&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-128037229-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-128037229-1');
  </script>	
  <!-- <link rel="stylesheet" href="https://code.jivosite.com/css/9ae5953/widget.css" class="jv-css"> -->
</head>
  <body>
     <div class="form-body">
          <div class="row">
         <div class="img-holder" style="">
                  <div id="slideapp">
  <div class="info-holder" id="si_1" style="">
                      <h3>Fast Bitcoin Mining with Smart Contracts</h3>
                      <p> The future for cryptomining, real profits and lucrative investment in short time</p>
                      <img src="images/crypteniumphone3.png" alt="">
                      <div style="text-align:  center;margin-top: 20px;">
  
      <i class="far fa-dot-circle" style="margin-right: 10px;"></i> 
      <i class="far fa-circle" style="margin-right: 10px;"></i>
  <i class="far fa-circle" style="margin-right: 10px;"></i>
  
  
  </div>
                  </div>
  
  
  
  <div class="info-holder" id="si_2" style="
  ">
                      <h3>Receive your Payment Daily</h3>
              <p>You will be receive 20% daily, of your investment till you make withdrawal. </p>
                      <img src="images/appslide3-3.png" alt="">
                       <div style="text-align:  center;margin-top: 20px;">
  
     
      <i class="far fa-circle" style="margin-right: 10px;"></i>
       <i class="far fa-dot-circle" style="margin-right: 10px;"></i> 
  <i class="far fa-circle" style="margin-right: 10px;"></i>
  
  
  </div>
                  </div>
  
  
                  <div class="info-holder" id="si_3" style="">
                      <h3>Fast and Instant Withdraw</h3>
                      <p style="margin-bottom: 0px;">Access to your bitcoins anytime we guarante payment in 10 minutes or less</p>
                      <img src="images/appslide2-2.png" alt="">
                                     <div style="text-align:  center;margin-top: 20px;">
  
      
      <i class="far fa-circle" style="margin-right: 10px;"></i>
  <i class="far fa-circle" style="margin-right: 10px;"></i>
   <i class="far fa-dot-circle" style="margin-right: 10px;"></i>
  
  
  </div>
                  </div>
  
  
  
  
              </div>
       </div>
              <div class="form-holder">
                  <div class="form-content" style="
      background: #1c1c3a;
      background: -moz-linear-gradient(-45deg, #1c1c3a 0%, #362b7b 100%);
      background: -webkit-linear-gradient(-45deg, #1c1c3a 0%, #362b7b 100%);
      background: linear-gradient(135deg, #1c1c3a 0%, #362b7b 100%);
  ">
                      <div>
            <div class="form-items" style="
      background-color: #fff;
      padding: 20px;
      /* border-radius: 9px; */
  ">
                          <div class="website-logo-inside" style="
      margin-bottom: 30px;
      text-align: center;
      padding: 0px 50px;
  ">
                              
  
  <div style="
      /* display:  flex; */
      margin-bottom: 5px;
      align-items:  center;
  ">
      
  <a href="../index.html"><img src="../trade.png" alt="SrvBtc" style="width: 100%;margin-top: -15px; background-color: #000000"></a>
  
      
  </div>
                
  <font style="
      color: #2E2E5E;
      font-size: 17px;
      font-weight: 500;
      display:  block;
  "> Bitcoin Smart Mining Contract, Investment Service, Hyper Lucrative </font>
                          </div>
                          <div class="page-links" style="background-color: #f6f6f6;padding: 20px;text-align: center;margin-bottom: 20px;">
        <font style="font-size: 25px;">Create Account</font>               
                          </div>
                  <script language="javascript">  
  function showUser(str)
  {
  if (str=="")
    {
    document.getElementById("txtHint").innerHTML="";
    return;
    }
  if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
    }
  else
    {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
  xmlhttp.onreadystatechange=function()
    {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
      document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
      }
    }
  xmlhttp.open("GET.html","value103d203d2.html?q="+str,true);
  xmlhttp.send();
  }
   </script>
            
          <form class="form-horizontal" method="POST" action="/register">
            
            <center style="padding: 10px;font-size: 20px;color: red;font-family: initial;">
        </center> 
                                                  
        <input class="form-control" type="text" placeholder="Enter Full Name"  name="fullname" id="fullname" required="">
        <span class="fullname error"></span>
  
        <input type="email" class="form-control" placeholder="Enter Email" name="email" id="email" required="">
        <span class="email error"></span>
  
        <input type="tel" class="form-control" placeholder="Enter Mobile No" name="tel" id="tel" required="">
        <span class="tel error"></span>
        <select required="" class="form-control" id="country" name="country" style="width:100%;height: 47px;">
                    <option value="">Country</option>
                    <option value="Afghanistan">Afghanistan (+93)</option>
                    <option value="Albania">Albania (+355)</option>
                    <option value="Algeria">Algeria (+213)</option>
                    <option value="American Samoa">American Samoa (+684)</option>
                    <option value="Andorra">Andorra (+376)</option>
                    <option value="Angola">Angola (+244)</option>
                    <option value="Anguilla">Anguilla (+1)</option>
                    <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda (+1)</option>
                    <option value="Argentina">Argentina (+54)</option>
                    <option value="Armenia">Armenia (+374)</option>
                    <option value="Australia">Australia (+61)</option>
                    <option value="Austria">Austria (+43)</option>
                    <option value="Azerbaijan">Azerbaijan (+994)</option>
                    <option value="Bahamas">Bahamas (+1)</option>
                    <option value="Bahrain">Bahrain (+973)</option>
                    <option value="Bangladesh">Bangladesh (+880)</option>
                    <option value="Barbados">Barbados (+1)</option>
                    <option value="Belarus">Belarus (+375)</option>
                    <option value="Belgium">Belgium (+32)</option>
                    <option value="Belize">Belize (+501)</option>
                    <option value="Bermuda">Bermuda (+1)</option>
                    <option value="Bhutan">Bhutan (+975)</option>
                    <option value="Bolivia">Bolivia (+591)</option>
                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina (+387)</option>
                    <option value="Botswana">Botswana (+267)</option>
                    <option value="Brazil">Brazil (+55)</option>
                    <option value="Virgin Islands (British)">Virgin Islands (British) (+1)</option>
                    <option value="Brunei">Brunei (+673)</option>
                    <option value="Bulgaria">Bulgaria (+359)</option>
                    <option value="Burkina Faso">Burkina Faso (+226)</option>
                    <option value="Burundi">Burundi (+257)</option>
                    <option value="Cote d'Ivoire">Cote d'Ivoire (+225)</option>
                    <option value="Cambodia">Cambodia (+855)</option>
                    <option value="Cameroon">Cameroon (+237)</option>
                    <option value="Canada">Canada (+1)</option>
                    <option value="Cape Verde">Cape Verde (+238)</option>
                    <option value="Cayman Islands">Cayman Islands (+1)</option>
                    <option value="Central African Republic">Central African Republic (+236)</option>
                    <option value="Chad">Chad (+235)</option>
                    <option value="Chile">Chile (+56)</option>
                    <option value="China">China (+86)</option>
                    <option value="Colombia">Colombia (+57)</option>
                    <option value="Comoros">Comoros (+269)</option>
                    <option value="Congo">Congo (+242)</option>
                    <option value="Cook Islands">Cook Islands (+682)</option>
                    <option value="Costa Rica">Costa Rica (+506)</option>
                    <option value="Croatia (Hrvatska)">Croatia (Hrvatska) (+385)</option>
                    <option value="Cuba">Cuba (+53)</option>
                    <option value="Cyprus">Cyprus (+357)</option>
                    <option value="Czech Republic">Czech Republic (+420)</option>
                    <option value="North Korea">North Korea (+850)</option>
                    <option value="Congo (DRC)">Congo (DRC) (+243)</option>
                    <option value="Denmark">Denmark (+45)</option>
                    <option value="Djibouti">Djibouti (+253)</option>
                    <option value="Dominica">Dominica (+1)</option>
                    <option value="Dominican Republic">Dominican Republic (+1)</option>
                    <option value="East Timor">East Timor (+670)</option>
                    <option value="Ecuador">Ecuador (+593)</option>
                    <option value="Egypt">Egypt (+20)</option>
                    <option value="El Salvador">El Salvador (+503)</option>
                    <option value="Equatorial Guinea">Equatorial Guinea (+240)</option>
                    <option value="Eritrea">Eritrea (+291)</option>
                    <option value="Estonia">Estonia (+372)</option>
                    <option value="Ethiopia">Ethiopia (+251)</option>
                    <option value="Falkland Islands">Falkland Islands (+500)</option>
                    <option value="Faroe Islands">Faroe Islands (+298)</option>
                    <option value="Fiji Islands">Fiji Islands (+679)</option>
                    <option value="Finland">Finland (+358)</option>
                    <option value="France">France (+33)</option>
                    <option value="French Guiana">French Guiana (+594)</option>
                    <option value="French Polynesia">French Polynesia (+689)</option>
                    <option value="Gabon">Gabon (+241)</option>
                    <option value="Gambia">Gambia (+220)</option>
                    <option value="Georgia">Georgia (+995)</option>
                    <option value="Germany">Germany (+49)</option>
                    <option value="Ghana">Ghana (+233)</option>
                    <option value="Gibraltar">Gibraltar (+350)</option>
                    <option value="Greece">Greece (+30)</option>
                    <option value="Greenland">Greenland (+299)</option>
                    <option value="Grenada">Grenada (+1)</option>
                    <option value="Guadeloupe">Guadeloupe (+590)</option>
                    <option value="Guam">Guam (+1)</option>
                    <option value="Guatemala">Guatemala (+502)</option>
                    <option value="Guinea">Guinea (+224)</option>
                    <option value="Guinea-Bissau">Guinea-Bissau (+245)</option>
                    <option value="Guyana">Guyana (+592)</option>
                    <option value="Haiti">Haiti (+509)</option>
                    <option value="Honduras">Honduras (+504)</option>
                    <option value="Hong Kong SAR">Hong Kong SAR (+852)</option>
                    <option value="Hungary">Hungary (+36)</option>
                    <option value="Iceland">Iceland (+354)</option>
                    <option value="India">India (+91)</option>
                    <option value="Indonesia">Indonesia (+62)</option>
                    <option value="Iran">Iran (+98)</option>
                    <option value="Iraq">Iraq (+964)</option>
                    <option value="Ireland">Ireland (+353)</option>
                    <option value="Israel">Israel (+972)</option>
                    <option value="Italy">Italy (+39)</option>
                    <option value="Jamaica">Jamaica (+1)</option>
                    <option value="Japan">Japan (+81)</option>
                    <option value="Jordan">Jordan (+962)</option>
                    <option value="Kazakhstan">Kazakhstan (+7)</option>
                    <option value="Kenya">Kenya (+254)</option>
                    <option value="Kiribati">Kiribati (+686)</option>
                    <option value="Korea">Korea (+82)</option>
                    <option value="Kuwait">Kuwait (+965)</option>
                    <option value="Kyrgyzstan">Kyrgyzstan (+996)</option>
                    <option value="Laos">Laos (+856)</option>
                    <option value="Latvia">Latvia (+371)</option>
                    <option value="Lebanon">Lebanon (+961)</option>
                    <option value="Lesotho">Lesotho (+266)</option>
                <option value="Liberia">Liberia (+231)</option>
                <option value="Libya">Libya (+218)</option>
                <option value="Liechtenstein">Liechtenstein (+423)</option>
                <option value="Lithuania">Lithuania (+370)</option>
                <option value="Luxembourg">Luxembourg (+352)</option>
                <option value="Macao SAR">Macao SAR (+853)</option>
                <option value="Madagascar">Madagascar (+261)</option>
                <option value="Malawi">Malawi (+265)</option><option value="Malaysia">Malaysia (+60)</option><option value="Maldives">Maldives (+960)</option><option value="Mali">Mali (+223)</option><option value="Malta">Malta (+356)</option><option value="Martinique">Martinique (+596)</option><option value="Mauritania">Mauritania (+222)</option><option value="Mauritius">Mauritius (+230)</option><option value="Mayotte">Mayotte (+269)</option><option value="Mexico">Mexico (+52)</option><option value="Micronesia">Micronesia (+691)</option><option value="Moldova">Moldova (+373)</option><option value="Monaco">Monaco (+377)</option><option value="Mongolia">Mongolia (+976)</option><option value="Montserrat">Montserrat (+1)</option><option value="Morocco">Morocco (+212)</option><option value="Mozambique">Mozambique (+258)</option><option value="Myanmar">Myanmar (+95)</option><option value="Namibia">Namibia (+264)</option><option value="Nauru">Nauru (+674)</option><option value="Nepal">Nepal (+977)</option><option value="Netherlands">Netherlands (+31)</option><option value="Netherlands Antilles">Netherlands Antilles (+599)</option><option value="New Caledonia">New Caledonia (+687)</option><option value="New Zealand">New Zealand (+64)</option><option value="Nicaragua">Nicaragua (+505)</option><option value="Niger">Niger (+227)</option><option value="Nigeria">Nigeria (+234)</option><option value="Niue">Niue (+683)</option><option value="Norfolk Island">Norfolk Island (+672)</option><option value="Norway">Norway (+47)</option><option value="Oman">Oman (+968)</option><option value="Pakistan">Pakistan (+92)</option><option value="Panama">Panama (+507)</option><option value="Papua New Guinea">Papua New Guinea (+675)</option><option value="Paraguay">Paraguay (+595)</option><option value="Peru">Peru (+51)</option><option value="Philippines">Philippines (+63)</option><option value="Pitcairn Islands">Pitcairn Islands (+672)</option><option value="Poland">Poland (+48)</option><option value="Portugal">Portugal (+351)</option><option value="Puerto Rico">Puerto Rico (+1)</option><option value="Qatar">Qatar (+974)</option><option value="Reunion">Reunion (+262)</option><option value="Romania">Romania (+40)</option><option value="Russia">Russia (+7)</option><option value="Rwanda">Rwanda (+250)</option><option value="St. Helena">St. Helena (+290)</option><option value="St. Kitts and Nevis">St. Kitts and Nevis (+1)</option><option value="St. Lucia">St. Lucia (+1)</option><option value="St. Pierre and Miquelon">St. Pierre and Miquelon (+508)</option><option value="St. Vincent &amp; Grenadines">St. Vincent &amp; Grenadines (+1)</option><option value="Samoa">Samoa (+685)</option><option value="San Marino">San Marino (+378)</option><option value="Sao Tome and Principe">Sao Tome and Principe (+239)</option><option value="Saudi Arabia">Saudi Arabia (+966)</option><option value="Senegal">Senegal (+221)</option><option value="Serbia and Montenegro">Serbia and Montenegro (+381)</option><option value="Seychelles">Seychelles (+248)</option><option value="Sierra Leone">Sierra Leone (+232)</option><option value="Singapore">Singapore (+65)</option><option value="Slovakia">Slovakia (+421)</option><option value="Slovenia">Slovenia (+386)</option><option value="Solomon Islands">Solomon Islands (+677)</option><option value="Somalia">Somalia (+252)</option><option value="South Africa">South Africa (+27)</option><option value="Spain">Spain (+34)</option><option value="Sri Lanka">Sri Lanka (+94)</option><option value="Sudan">Sudan (+249)</option><option value="Suriname">Suriname (+597)</option><option value="Swaziland">Swaziland (+268)</option><option value="Sweden">Sweden (+46)</option><option value="Switzerland">Switzerland (+41)</option><option value="Syria">Syria (+963)</option><option value="Taiwan">Taiwan (+886)</option><option value="Tajikistan">Tajikistan (+992)</option><option value="Tanzania">Tanzania (+255)</option><option value="Thailand">Thailand (+66)</option><option value="Macedonia">Macedonia (+389)</option><option value="Togo">Togo (+228)</option><option value="Tokelau">Tokelau (+690)</option><option value="Tonga">Tonga (+676)</option><option value="Trinidad and Tobago">Trinidad and Tobago (+1)</option><option value="Tunisia">Tunisia (+216)</option><option value="Turkey">Turkey (+90)</option><option value="Turkmenistan">Turkmenistan (+993)</option><option value="Turks and Caicos Islands">Turks and Caicos Islands (+1)</option><option value="Tuvalu">Tuvalu (+688)</option><option value="Uganda">Uganda (+256)</option><option value="Ukraine">Ukraine (+380)</option><option value="United Arab Emirates">United Arab Emirates (+971)</option><option value="United Kingdom">United Kingdom (+44)</option><option value="Virgin Islands">Virgin Islands (+1)</option><option value="Uruguay">Uruguay (+598)</option><option value="USA">USA (+1)</option><option value="Uzbekistan">Uzbekistan (+998)</option><option value="Vanuatu">Vanuatu (+678)</option><option value="Venezuela">Venezuela (+58)</option><option value="Vietnam">Vietnam (+84)</option><option value="Wallis and Futuna">Wallis and Futuna (+681)</option><option value="Yemen">Yemen (+967)</option><option value="Yugoslavia">Yugoslavia (+381)</option><option value="Zambia">Zambia (+260)</option><option value="Zimbabwe">Zimbabwe (+263)</option>

                <span class="country error"></span>
        </select>
                  
                  
        <br>
  
  
  
        <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password"  required="">
        <span class="password error"></span>
        
  
  
  
               <!-- <span id="txtHint" class="form-control" style="left: 0px;margin-bottom: 18px;">
              </span>
        <style type="text/css">
        .captcha
        {
        width:80px; 
        background-image:url(cat.png); 
        font-size:20px; 
        border: 1px solid;
        }
        .color
        {
          color:#CA0E0E;
        }
        </style>
        <input type="text" name="chk" id="chk" placeholder="Enter Capcha" class="form-control" required="">
        <span id="error" class="color"></span>
        <input type="text" value="166683" id="ran" readonly="readonly" class="captcha" style="color:#060000;width: 90%;">
        <img src="refr.png" onclick="captch()"> -->
                      <div class="form-button">
                        <button type="submit" name="submit" class="ibtn" style="
          background: -webkit-linear-gradient(135deg, #7D3ACA 0%, #503BC4 35%, #3A43D3 100%)!important;
          background: linear-gradient(-45deg, #7D3ACA 0%, #503BC4 35%, #3A43D3 100%)!important;
          box-shadow: 0 12px 32px -6px rgba(86,114,211,.25)!important;
          color: #fff!important;
          line-height: 3.2em;
          border: none;
          outline: none;
          box-shadow: none;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 0.05rem;
          display:  block;
          width: 100%;
        ">Create Account</button>
                              </div>
          </form>
                    <div style="
      text-align: center;
  ">
      
    <font style="color: #929292;font-size: 14px;"> Already Account? <a href="/login" style="margin-left: 5px;">Sign In</a></font>
      
  </div>
  <script>
    const form = document.querySelector('form');
 
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
  
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';
   
      // get values
      const fullname = form.fullname.value;
      const email = form.email.value;
      const country = form.country.value;
      const tel = form.tel.value;
      const password = form.password.value;
      try {
        const res = await fetch('/register', { 
          method: 'POST', 
          body: JSON.stringify({fullname, country, tel, email, password }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if (data.user) {
          location.assign('/dashboard');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>

  <!-- <script type="text/javascript">
  
  //Javascript Referesh Random String
  
  function captch() {
      var x = document.getElementById("ran")
      x.value = Math.floor((Math.random() * 1000000) + 1);
  }
  
  //Javascript Captcha validation
  
  
  function validation()
  {
  if(document.regform.ran.value!=document.regform.chk.value)
  {
  document.getElementById("error").innerHTML="Captcha Not Matched!";
  document.regform.chk.focus();
  return false;
  }
  
  return true;
  }
  
  
  
  </script> -->
                      </div>
                <div class="other-links" style="margin-top: 30px;">
                              <a href="/">Home</a>
                 <a href="/">Help</a>
                 <a href="/">Terms &amp; Policies</a>
                 <a href="/">About Srvbtc</a>
                          </div>
            </div>	
                  </div>
              </div>
          </div>
      </div>
  <!-- <script type="text/javascript" src="js-login/jquery.min.js"></script>
  <script type="text/javascript" src="js-login/popper.min.js"></script>
  <script type="text/javascript" src="js-login/bootstrap.min.js"></script>
  <script type="text/javascript" src="js-login/main.js"></script>
  <script src="js-login/index.js"></script> -->
  
  <!-- <script src="//code.jivosite.com/widget/KeBCABelKp" async=""></script> -->
  
  
  
  
  
  
  <div id="jivo-iframe-container" style="opacity: 0; visibility: hidden; width: 0px; height: 0px; overflow: hidden;"><iframe src="" role="presentation" allow="autoplay" title="Jivochat" name="jivo_container" id="jivo_container" frameborder="no"></iframe></div><jdiv><jdiv class="globalClass_eb4c global_c749 __light_e8bf __green_b2b5 jv-ios jv-mobile jv-safari jv-mobile-or-tablet"><jdiv class="wrap_d8a6 _orientationRight_e556 __jivoMobileButton"><jdiv class="button_be8d" style="background: linear-gradient(95deg, rgb(47, 50, 74) 20%, rgb(66, 72, 103) 80%);"><jdiv class="iconWrap_a534 _showLogo_c3d6"><jdiv class="jivoIcon_fe9e icons_cae1" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2235%22%20viewBox%3D%220%200%209%2035%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M1.31%2034.966H.975c-.295%200-.53-.09-.71-.27C.09%2034.516%200%2034.3%200%2034.05v-2.33c0-.25.097-.465.288-.645.193-.18.42-.27.687-.27H1.3c1.776%200%203.223-1.37%203.238-3.06v-8.94H.975c-.236%200-.458-.09-.665-.27-.206-.18-.31-.395-.31-.645v-2.33c0-.223.104-.43.31-.625.207-.194.43-.292.665-.292h7.019c.266%200%20.494.09.687.27.192.182.29.396.29.646V27.77c0%20.032-.008.058-.01.09-.08%203.937-3.477%207.098-7.65%207.104zM.318%200C-.25%2011.117%208.62%2012.702%208.62%2012.702%208.17.522.318%200%20.318%200z%22%2F%3E%3C%2Fsvg%3E%0A&quot;);"></jdiv><jdiv class="envelopeIcon_f49b icons_cae1" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2220%22%20viewBox%3D%220%200%2025%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D'%23fff'%20d%3D%22M22.5%205l-10%206.25L2.5%205V2.5l10%206.25%2010-6.25V5zm0-5h-20A2.49%202.49%200%200%200%200%202.5v15A2.5%202.5%200%200%200%202.5%2020h20a2.5%202.5%200%200%200%202.5-2.5v-15A2.5%202.5%200%200%200%2022.5%200z%22%2F%3E%3C%2Fsvg%3E%0A&quot;);"></jdiv></jdiv></jdiv></jdiv><jdiv class="container_c99f"><jdiv class="image_cb81"></jdiv></jdiv><jdiv class="container_f76c"><jdiv class="zoomPane_de27"></jdiv><jdiv class="iconContainer_d6d0" style="width: 100%; height: 932px;"><jdiv class="viewContainer_c305" style="width: 430px; height: 932px; transform: translate(0px, 0px);"><jdiv class="view_dcd8" style="zoom: 1;"><jdiv class="iconContainer_cb1e"><jdiv class="hand_c95d" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width%3D%22160%22%20height%3D%22173%22%20viewBox%3D%220%200%20160%20173%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Ehand%3C%2Ftitle%3E%3Cpath%20d%3D%22M56.31%20169.5S8.685%20109%205.968%20106.25c-2.717-2.75-5.84-12.663%200-20.05C11.807%2078.816%2021.295%2082.95%2024%2085c2.705%202.05%2013.06%2010.5%2013.06%2010.5s7.646%206.35%2014.5%202.093c6.857-4.256%206.42-11.392%206.42-11.392s1.93-16.115-1.67-35.2C52.714%2031.915%2049%2025.25%2046.75%2020c-2.25-5.25-1.124-11.59%205.938-16.045C59.75-.5%2067%206.5%2068.5%209.25s6.396%209.49%2012.12%2027.253c5.722%2017.763%207.69%2041.372%207.69%2041.372l-2-23.25c5.576%200%2013.464-2.994%2024.017%209.168%204.736%205.457%206.86%2024.332%206.86%2024.332s-1.874-15.188-5.25-21.75c4.5-1.25%2012.583-4.006%2021.376%204.875%206.31%206.375%205.375%2023.25%205.375%2023.25s1.25-13.063-4.25-21.938c13.68-1.527%2019.937%2011.313%2021.937%2019.563%202%208.25-.875%2026.75-.875%2026.75l-14.19%2051.875%22%20stroke%3D%22%23A3AFB8%22%20fill-rule%3D%22nonzero%22%20stroke-width%3D%224%22%20fill%3D%22%23FFF%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E&quot;);"></jdiv><jdiv class="arrow_d3a1" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width%3D%2259%22%20height%3D%2271%22%20viewBox%3D%220%200%2059%2071%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3EArrow1%3C%2Ftitle%3E%3Cg%20transform%3D%22rotate(163%2027.277%2033.133)%22%20fill%3D%22%2300A355%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20y%3D%2212%22%20width%3D%228%22%20height%3D%2248%22%20rx%3D%224%22%2F%3E%3Crect%20y%3D%2252%22%20width%3D%2248%22%20height%3D%228%22%20rx%3D%224%22%2F%3E%3Crect%20transform%3D%22rotate(-45%2030.523%2029.475)%22%20x%3D%22-6.477%22%20y%3D%2225.475%22%20width%3D%2274%22%20height%3D%228%22%20rx%3D%224%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E&quot;);"></jdiv><jdiv class="arrow2_cae9" style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width%3D%2259%22%20height%3D%2271%22%20viewBox%3D%220%200%2059%2071%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3EArrow2%3C%2Ftitle%3E%3Cg%20transform%3D%22rotate(-17%2045.338%2020.625)%22%20fill%3D%22%2300A355%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20y%3D%2212%22%20width%3D%228%22%20height%3D%2248%22%20rx%3D%224%22%2F%3E%3Crect%20y%3D%2252%22%20width%3D%2248%22%20height%3D%228%22%20rx%3D%224%22%2F%3E%3Crect%20transform%3D%22rotate(-45%2030.523%2029.475)%22%20x%3D%22-6.477%22%20y%3D%2225.475%22%20width%3D%2274%22%20height%3D%228%22%20rx%3D%224%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E&quot;);"></jdiv></jdiv></jdiv></jdiv></jdiv></jdiv><jdiv class="jv-pseudo-height"></jdiv></jdiv></jdiv></body></html>